<!DOCTYPE html>
<html lang="en" class="dark">
  <html lang="en" class="dark">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Error Logs</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script>
        tailwind.config = {
          darkMode: 'class',
        };
      </script>
    </head>
    <body class="dark:bg-zinc-900">
      <section class="container px-4 mx-auto">
        <!-- This section is for the top of the page with Title and refresh and toggle -->
        <div class="sm:flex sm:items-center sm:justify-between">
          <div class="pt-2 px-2">
            <div class="flex items-center gap-x-3">
              <h1 class="text-3xl font-medium text-zinc-900 dark:text-zinc-100">CloudWatch Error Logs</h1>
            </div>
          </div>
          <div class="flex items-center mt-4 gap-x-3">
            <a href="/refresh"
               class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-zinc-100 transition-colors duration-200 bg-blue-500 dark:bg-zinc-800 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-700 dark:hover:bg-zinc-600">Refresh</a>
            <button id="toggleDarkMode"
                    class="flex items-center justify-center w-1/2 px-5 py-2 rounded-lg z-10 hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-all duration-150">
              <!-- Light -->
              <svg viewBox="0 0 24 24"
                   fill="none"
                   stroke-width="2"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   class="w-6 h-6 toggle-icon">
                <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" class="stroke-slate-400 dark:stroke-slate-500"></path>
                <path d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836" class="stroke-slate-400 dark:stroke-slate-500">
                </path>
              </svg>
              <!-- Dark -->
              <svg viewBox="0 0 24 24" fill="none" class="w-6 h-6 toggle-icon hidden">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z" class="fill-transparent">
                </path>
                <path d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z" class="fill-slate-400 dark:fill-slate-500">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z" class="fill-slate-400 dark:fill-slate-500">
                </path>
              </svg>
            </button>
          </div>
        </div>
        <!-- The table section start from here -->
        <div class="flex flex-col mt-6">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div id="remove_items"
                   class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                <form action="/remove_items" method="post">
                  <table class="min-w-full divide-y-2 divide-gray-200 dark:divide-gray-500">
                    <thead class="bg-gray-50 dark:bg-zinc-800">
                      <tr>
                        <th scope="col"
                            class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-zinc-900 dark:text-zinc-100">
                          <span>Select</span>
                        </th>
                        <th scope="col"
                            class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-zinc-900 dark:text-zinc-100">
                          Level
                        </th>
                        <th scope="col"
                            class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-zinc-900 dark:text-zinc-100">
                          Logger
                        </th>
                        <!-- <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
          Timestamp
        </th> -->
                        <th scope="col"
                            class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-zinc-900 dark:text-zinc-100">
                          Message
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white dark:bg-zinc-800 divide-y divide-gray-200 dark:divide-gray-700">
                      {% for item in all_items %}
                        <tr>
                          <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                            <div>
                              <input type="checkbox"
                                     name="check"
                                     id="{{ item.log_id.S }}"
                                     value='{"log_id": "{{ item.log_id }}", "timestamp": "{{ item.timestamp }}"}'
                                     class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" />
                            </div>
                          </td>
                          <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                            <div {% if item.level.S == 'ERROR' %} class="inline px-3 py-1 text-sm font-normal rounded-full text-red-800 dark:text-red-400 gap-x-2 bg-red-50 dark:bg-zinc-600" {% else %} class="inline px-3 py-1 text-sm font-normal rounded-full text-yellow-800 dark:text-yellow-300 gap-x-2 bg-yellow-50 dark:bg-zinc-600" {% endif %}>
                              {{ item.level.S }}
                            </div>
                          </td>
                          <td class="px-12 py-4 font-medium whitespace-nowrap text-zinc-800 dark:text-zinc-300">
                            <div>
                              <h2 class="">{{ item.logger.S }}</h2>
                              <p class="text-sm font-normal">{{ item.timestamp.S }}</p>
                            </div>
                          </td>
                          <!-- <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                            <div>{{ item.timestamp.S }}</div>
                          </td> -->
                          <td class="px-12 py-4 font-medium whitespace-nowrapbreak-all font-mono break-all text-zinc-800 dark:text-zinc-300">
                            <div>{{ item.message.S|tojson(indent=4) }}</div>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="mt-6 sm:flex sm:items-center sm:justify-between">
                    <div class="p-4 text-sm text-gray-500 dark:text-gray-400">
                      Page
                      <span class="font-medium text-gray-700 dark:text-gray-200">1 of 10</span>
                    </div>
                    <div class="p-4 flex items-center mt-4 gap-x-4 sm:mt-0">
                      <input type="submit"
                             value="Mark as Done"
                             id="remove_btn"
                             class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-zinc-100 transition-colors duration-200 bg-blue-500 dark:bg-zinc-800 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-700 dark:hover:bg-zinc-600" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('toggleDarkMode').addEventListener('click', () => {
          document.documentElement.classList.toggle('dark'); // Use <html> tag for dark mode toggle.
      
          let toggleIcons = document.querySelectorAll('.toggle-icon');
          toggleIcons.forEach(toggleIcon => {
            toggleIcon.classList.toggle('hidden');
          });
        });
      });
      </script>
    </body>
  </html>
